<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/fa5/css/all.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/bs4/bootstrap.min.css" | relative_url }}">
  <script src="{{ "/assets/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bs4/bootstrap.bundle.min.js" | relative_url }}"></script>
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <title>{%- if page.title -%}{{ page.title }} -&nbsp;{%- endif -%} rukou.io</title>
  {%- if page.description -%}<meta name="description" content="{{ page.description }}">{%- endif -%} 
  
</head>
